{% extends "base.html" %}

{% load static %}

{% block title %}Clivatti Advogados - Página Inicial{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block main %}

    <div id="main" class="d-flex gap-3">
        <section id="posts">
            
            {% for post in posts %}
                <div class="post d-flex flex-column text-secondary">
                    <h2><a href="{% url 'post' post.pk %}">{{ post.title }}</a></h2>
                    <div class="d-flex justify-content-between">
                        <p class="d-flex gap-1">Postado em: <u>{{ post.created_at|date:"d/m/Y | H:i" }}</u></p>
                        <p class="d-flex gap-1">Por: <u>{{ post.author.username }}</u></p>
                    </div>
                    <p class="post-content">{{ post.content }}</p>

                    <div class="d-flex align-items-end justify-content-between">
                        <a href="{% url 'post' post.pk %}">Saiba Mais</a>
                        <p class="m-0">Em: <u class="p-0">{{ post.category.name }}</u></p>
                    </div>
                </div>
            {% endfor %}
            <!-- Navegação da paginação -->
            <div class="pagination d-flex gap-2 align-items-center">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}{% if categoria_id %}&categoria={{ categoria_id }}{% endif %}{% if search_query %}&q={{ search_query }}{% endif %}"><i class="fa-solid fa-arrow-left" title="Página Anterior"></i></a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                        <span class="current-page">{{ num }}</span>
                    {% else %}
                        <a href="?page={{ num }}{% if categoria_id %}&categoria={{ categoria_id }}{% endif %}{% if search_query %}&q={{ search_query }}{% endif %}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% if categoria_id %}&categoria={{ categoria_id }}{% endif %}{% if search_query %}&q={{ search_query }}{% endif %}"><i class="fa-solid fa-arrow-right" title="Página Seguinte"></i></a>
                {% endif %}
            </div>
        </section>
        <section id="options" class="w-25">
            <div class="input-group mb-3 px-3 py-3" style="background-color: var(--secondary-color);">
                <form method="get" class="w-100 d-flex">
                    
                    <input type="text" name="q" class="form-control rounded-end-0" placeholder="Pesquisar..." value="{{ request.GET.q }}">
                    <button type="submit" class="btn btn-primary rounded-start-0"><i class="fa-solid fa-magnifying-glass d-flex justify-content-center"></i></button>
                </form>
            </div>
            <div class="mb-3 px-3 py-3" style="background-color: var(--secondary-color);">
                <h3 class="fs-5 border-bottom">Posts Recentes:</h3>
                <ul class="d-flex flex-column gap-3 list-unstyled m-0">
                    {% for post in posts|slice:":6" %}
                        <li><a href="{% url 'post' post.pk %}">{{ post.title }}</a></li>
                    {% endfor %}    
                </ul>
                
            </div>
            <div class="mb-3 px-3 py-3" style="background-color: var(--secondary-color);">
                <h3 class="fs-5 border-bottom">Categorias:</h3>
                <ul class="d-flex flex-column gap-3 list-unstyled m-0">
                    {% for category in categories %}
                        <li>
                            <a href="{% url 'blog' %}?categoria={{ category.id }}">{{ category.name }}</a>
                        </li>
                    {% endfor %}    
                </ul>
            </div>
            
        </section>
    </div>
    
    
{% endblock %}
