{% extends "base.html" %}

{% load static %}

{% block title %}Clivatti Advogados - Blog{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/post.css' %}">
{% endblock %}

{% block main %}

    <div id="main" class="d-flex gap-3">
        <section id="post" class="text-secondary">
            <h2>{{ post.title }}</h2>
            <div class="d-flex justify-content-between info-div">
                <p class="d-flex gap-1">Postado em: <u>{{ post.created_at|date:"d/m/Y | H:i" }}</u></p>
                <p class="d-flex gap-1">Por: <u>{{ post.author.username }}</u></p>
            </div>
            <p class="post-content">{{ post.content|linebreaks }}</p>

            <div class="d-flex justify-content-between">
                {% if previous_post %}
                    <a href="{% url 'post' previous_post.id %}" class="d-flex gap-1 align-items-center text-decoration-none"><i class="fa-solid fa-arrow-left" title="Post Anterior"></i> Post Anterior</a>
                {% else %}
                    <span></span>
                {% endif %}


                {% if next_post %}
                    <a href="{% url 'post' next_post.id %}" class="d-flex gap-1 align-items-center text-decoration-none">Post Seguinte <i class="fa-solid fa-arrow-right" title="Post Seguinte"></i></a>
                {% else %}
                    <span></span>
                {% endif %}
            </div>
        </section>
        {% include "blog/partials/_sidenav.html" %}
    </div>
    
{% endblock %}
